@{  
    Layout = "";  
}
<!DOCTYPE html>
<!-- saved from url=(0032)https://api.pubg.io/success.html -->
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>PLAYERUNKNOWN'S BATTLEGROUNDS</title>

    <link rel="stylesheet" type="text/css" href="~/css/fonts.css">
    <link rel="stylesheet" type="text/css" href="~/css/style.css">
    <link rel="shortcut icon" href="https://api.pubg.io/images/favicon.ico">


</head>
<body>
    <!-- Size: 897 * 590 -->
    <div id="wrapper">
        <div class="content">
            <dl class="success">
                <dt>SUCCESS!</dt>
                <dd>
                    Bạn đã thanh toán thành công rồi!!!
                </dd>
                <dd>
                    Bạn có thể tắt website này hoặc chuyển tới trang chính của chúng tôi!!
                    <a asp-action="List" asp-controller="Product">
                      Home
                    
                    </a>
                </dd>
               
            </dl>
        </div>
    </div>
</body>
</html>